@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree';
}
body{
    background-color: #f4d04eff;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 300px;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.949);
    border: 1px solid black;
    margin:100px auto;
}
figure img{
    width: 100%;
    border-radius: 8px;
}
button{
    background-color: #f4d04eff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 0.7rem;
    margin-top: 10px;

}
.date{
    display: block;
    font-size: 0.9rem;
    color: #6b6b6bff;
    margin-top: 10px;
}
.container h1{
    font-size: 1.2rem;
    margin-top: 10px;
    color: #121212ff;
}
.container h1 a:hover{
    color: #f4d04eff;
}
.container p{
    font-size: 0.9rem;
    margin-top: 10px;
    color: #4f4f4fff;
    line-height: 1.2rem;
}
.author{
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}
.author img{
    width: 40px;
    border-radius: 50%;
}
.author span{
    font-size: 0.7rem;
    color: #121212ff;
    font-weight: 700;
}
.attribution { font-size: 11px; text-align: center;
    margin-bottom: 20px; }
    .attribution a { color: hsl(228, 45%, 44%); }
    



